* {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

body {
  background-color: rgb(225, 225, 235);
  border-radius: 10px;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background-color: rgb(215, 215, 225);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0;
  width: 80vw;
  max-width: 800px;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
}

.taskList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  padding: 10px 15px 10px 10px;
  border-radius: 50px;
  background-color: rgb(225, 225, 235);
}

.taskListLeft {
  display: flex;
  width: 80%;
}

.taskListRight {
  display: flex;
  justify-content: right;
  align-items: center;
}

.checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(245, 245, 255);
}

.checkbox:checked {
  background-color: rgb(200, 200, 210);
}

.typeBox {
  appearance: none;
  width: 85%;
  border: none;
  background-color: inherit;
  margin-left: 10px;
  font-size: 20px;
  color: black;
  cursor: pointer;
  border-radius: 20px;
  padding: 0 0 0 10px
}

.typeBox:focus {
  outline: none;
  cursor: text;
  background-color: white;
}

.x-symbol {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.x-symbol::before,
.x-symbol::after {
  position: absolute;
  border-radius: 10px;
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgb(160, 160, 170);
}

.x-symbol::before {
  transform: rotate(45deg);
}

.x-symbol::after {
  transform: rotate(-45deg);
}

.drag-handle {
  padding: 10% 10px 10% 0;
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: grab;
  margin-right: 10px;
}

.drag-handle div {
  background-color: rgb(175, 175, 185);
  border-radius: 10px;
  width: 100%;
  height: 4px;
}